.datepick{
    max-width:125px;
}

.navbar,
.navbar-default .navbar-brand{
    background-color:#bf5600;
    color:#ffffff;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color:#ffffff;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}

.panel-default > .panel-heading{
    background-color:#bf5600;
    color: #ffffff;
}

a div.appButton{
    color:white !important;
    padding:10px;
}

td, th{
    padding:10px;
    margin: 0 auto;
}
table{
    margin-bottom:10px;
}

a.list{
    text-decoration: underline;
}
a.list:hover{
    color:orange;
}

input#search{
    margin-bottom:10px;
}

button.delete{
    margin-top:10px !important;
    float:right;
}